<div class="ui container fluid infoBar">
    <div class="ui container">
        <div class="ui middle aligned centered grid">
            <div class="row equal column four column">
                <div class="column">
                    <div class="icon_place" data-position="top center" data-title="Frete Grátis" data-content="Para todo o Brasil">
                         <i class="ui icon entrega"></i>
                    </div>
                    <div class="text_place">
                        <h3>Frete Grátis</h3>
                        <p>Para todo o Brasil</p>
                    </div>
                </div>
                <div class="column">
                    <div class="icon_place" data-position="top center" data-title="Parcele suas compras" data-content="Em até 12x sem juros">
                        <i class="ui icon cartao-credito"></i>                    
                    </div>
                    <div class="text_place">
                        <h3>Parcele suas compras</h3>
                        <p>Em até 12x sem juros</p>
                    </div>
                </div>

                <div class="column">
                    <div class="icon_place" data-position="top center" data-title="Compra Segura" data-content="SSL e Proteção de Dados">
                        <i class="ui icon seguranca"></i>
                    </div>
                    <div class="text_place">
                        <h3>Compra Segura</h3>
                        <p>SSL e Proteção de Dados</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>